*{margin: 0;padding:0;}
body{
    font-family: 'Roboto', sans-serif;
    color: #62686e;
}
p{font-size: 17px;}
/* menu */
.top-menu{background-color: #326589;height: 50px;color: #ffffff;line-height: 50px;}
.top-menu a{color: #ffffff;text-decoration: none;}
.top-menu a:hover{color: rgb(235, 226, 226);}
.btn-outline-light:hover {
    color: #212529;
    background-color: #13304d;
    border-color: #f8f9fa;
}
.bg-light {
    background-color: #ffffff!important;
}
.navbar-light .navbar-nav .nav-link {
    color: #005d95;
    border: 1px solid #005d95;
    border-radius: 10px;
    margin: 0 10px;
    padding: 5px 20px;
    transition: 0.5s;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    background-color: #519fce;
}
.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 8px 6px -6px rgb(0 0 0 / 20%);
    z-index: 999;
}
/* Slider */
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .carousel-caption h1{font-size:56px;color: #005d95;font-weight: bold; display: inline-block;
    padding: 10px 30px;background-color: rgba(235, 226, 226,0.5);text-transform: capitalize; font-weight: bold;}
  .carousel-caption {
 
    text-align: left;
    text-shadow: none;
    bottom: 38%;
}
/* Our24 Services */
.rounded-circle{box-shadow: 0px 0px 8px #b5ced1;}
  .title-name{
      font-size: 37px;
      color: #005d95;
      border-bottom: 2px solid #005d95;
      display: inline-block;
      padding-bottom: 10px;
      text-transform: uppercase;
  }
  .title-name-white{
    font-size: 37px;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    display: inline-block;
    padding-bottom: 10px;
}

  .services-title{
      font-size: 21px;
    color: #005d95;
 }

 .about{
     background-color: #005d95;
 }
.about p{
    padding-top: 15px;
    padding-left: 150px;
    padding-right: 80px;
    color: #ffffff;
    font-size: 20px;
    line-height: 33px;
    text-align: justify;
}


/* tabs */
.bg-grey{background: #f4f6f7;}
.why-choose .nav-pills .nav-link {
    border-radius: .25rem;
   color: #7b8a97;
    font-size: 18px;
    border-radius: 5px;
    padding: 12px 33px;
    border: 0;
}
.why-choose .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #007bff;
}
.display-inline{display: inline-block;}

.tab-content{
    padding: 50px 0;
}
.tab-content p{line-height: 30px;}

/* client css */
.services-box img{width: 200px !important;}

/* testimonial  */
.bg-blue{background-color: #005d95;}
.testimonial-slider{position: relative;}
.testimonial-slider::before {
    content: "\f10d";
    font-family: FontAwesome;
    font-size: 175px;
    color: #005283;
    position: absolute;
    left: 9%;
    top: -54px;
}
.testimonial-slider h3,.testimonial-slider p{color: #ffffff;}
.testimonial-slider .item img{
width: 150px;
height: 150px;
}

/* Counter */
.counter-section{padding: 60px 0px;background-color: #333333;}
.counter-box {
    display: block;
    padding: 40px 20px 37px;
    text-align: center
}

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 500
}

.counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
    color: #fff;
}

.counter {
    position: relative;
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    line-height: 28px
}
.counter::after{
    position: absolute;
    right: 31%;
    content: "+";
    font-family: FontAwesome;
    font-size: 40px;
    color: #ffffff;
}



.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
    color: #fff;
}

/* Get a quote */
section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.frontside {
    position: relative;
    z-index: 2;
   
}
.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #4a4f4e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.get-a-quote {
    color: #ffffff;
    border-radius: 50%;
    padding: 52px 64px;
    background-color: #005d95;
    font-size: 49px;
}
.read-more {
    color: #005d95!important;
    transition: 0.6s;
    font-weight: 600;
}
.read-more:hover {
    color: #9e8989 !important;
    margin-left: 20px;
    cursor: pointer;
}

.services img {border: 1px solid #f8f1f1;
    border-radius: 18px;
    box-shadow: 0px 0px 4px -1px #111;
    margin-bottom: 15px;
}

/* Footer Css */
footer{
    background-color: #333333;
    color: #ffffff;
}
footer p{
    line-height: 30px;
}
.footer-list li {
  margin-bottom: 14px;
  position: relative;
  list-style: none;
  padding-left: 25px;
  font-weight: 500;
}

.footer-list li a{
    text-decoration: none;
    color:#ffffff;
    transition: 0.6s;
}
.footer-list li a:hover{color: #005283;}

.footer-list li:before {
    content: "\f105";
    font-family: FontAwesome;
    color: #ffffff;
    font-size: 19px;
    padding-right: 0.5em;
    position: absolute;
    top: 0;
    left: 0;
}
.footer-menu{
    margin-left:32%;
}
.bottom-footer a{
    color: #ffffff;
    transition: 0.6s;
}
.bottom-footer a:hover{
    color: #0f77ee;
}

  /* Responsive */
  @media(max-width:1024px){
    .carousel-caption h1 {
        font-size: 43px;
    }
    .title-name {
        font-size: 28px;}
    .navbar-light .navbar-nav .nav-link {
        margin: 3px 10px;
    }
    .about p {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        
    }
    .tab-content-discription{text-align: center;}
    .footer-menu{
        margin-left:0;
    }
    .tab-content {
        padding: 20px 0;
    }
  }
  @media(max-width:767px){
    .header-fixed {
        position: initial;}
    .top-menu{font-size: 12px;}
    
    .carousel-caption {
        bottom: 20px;
      }
    .carousel-caption h1 {
        font-size: 23px;
        color: #005d95;
        background-color: rgba(235, 226, 226,0.5);
    }
    .about p {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        text-align:initial;
        font-size: 16px;
        line-height: 30px
    }
    .title-name-white {
        font-size: 23px;}
    .title-name {
        font-size: 23px;}
        .why-choose .nav-pills .nav-link {
            font-size: 14px;
            border-radius: 5px;
            padding: 12px 10px;
            border: 0;
        }
       
        .tab-content h3{font-size: 1.4rem;}

  }